
@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import './fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
